<template>
    <q-layout view="lHh Lpr lFf" class="bg-grey-9 text-white">
        <q-header elevated class="bg-grey-6">
            <q-toolbar>
                <q-btn
                    flat
                    dense
                    round
                    @click="toggleLeftDrawer"
                    aria-label="Menu"
                    icon="menu"
                />
              
                <q-btn flat no-caps no-wrap class="q-ml-xs">
                    <q-avatar rounded v-if="$q.screen.gt.xs">
                        <img :src="imageStorageUrl + '/logo.png'">
                    </q-avatar>
                    <q-toolbar-title shrink class="text-weight-bold">
                        ACEs CRM
                    </q-toolbar-title>
                </q-btn>
        
                <q-space />


                <q-space />

                <div class="q-gutter-sm row items-center no-wrap">
                    <q-btn round dense flat color="text-grey-7" icon="apps">
                        <q-tooltip>Google Apps</q-tooltip>
                    </q-btn>
                    <q-btn round dense flat color="grey-8" icon="notifications">
                        <q-badge color="red" text-color="white" floating>
                        2
                        </q-badge>
                        <q-tooltip>Notifications</q-tooltip>
                    </q-btn>
                    
                    <q-btn-dropdown auto-close round flat description="Account" dropdown-icon="account_circle" no-icon-animation="false">
                        <template v-slot:label>
                            <q-tooltip>
                                Account
                            </q-tooltip>
                        </template>

                        <!-- dropdown content goes here -->
                        <q-list padding style="width: 250px">
                            <q-item clickable>
                                <q-item-section avatar>
                                    <q-avatar icon="perm_identity" color="grey" text-color="white" />
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Profile</q-item-label>
                                    <q-item-label caption>Account information</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item clickable>
                                <q-item-section avatar>
                                    <q-avatar icon="settings" color="grey" text-color="white" />
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Setting</q-item-label>
                                    <q-item-label caption>Account Setting</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-separator inset />
                            <q-item-label header>Action</q-item-label>

                            <q-item clickable>
                                <q-item-section avatar>
                                    <q-avatar icon="logout" color="grey" text-color="white" />
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label>Log out</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>
                        
                    </q-btn-dropdown>
                </div>
            </q-toolbar>

        </q-header>
        <q-drawer
            v-model="leftDrawerOpen"
            show-if-above
            class="bg-grey-8"
        >
            <q-list dark>
                <q-item-label header>Essential Links</q-item-label>
                <q-item clickable target="_blank" rel="noopener" href="https://quasar.dev">
                    <q-item-section avatar>
                        <q-icon name="school" />
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>Docs</q-item-label>
                        <q-item-label caption>https://quasar.dev</q-item-label>
                    </q-item-section>
                </q-item>
                <q-item clickable target="_blank" rel="noopener" href="https://github.quasar.dev">
                    <q-item-section avatar>
                        <q-icon name="code" />
                    </q-item-section>
                    <q-item-section>
                        <q-item-label>GitHub</q-item-label>
                        <q-item-label caption>github.com/quasarframework</q-item-label>
                    </q-item-section>
                </q-item>
          </q-list>
        </q-drawer>


        <q-page-container>
            <slot></slot>
        </q-page-container>
        
        <q-footer elevated class="bg-grey-8 text-white">
            <q-toolbar>
                <q-toolbar-title>
                    <q-avatar>
                        <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
                    </q-avatar>
                    <div> </div>
                </q-toolbar-title>
            </q-toolbar>
        </q-footer>
    </q-layout>
</template>

<script setup>
    import { ref } from 'vue';
    import { usePage } from '@inertiajs/vue3';
    import { useQuasar } from 'quasar';


    const $q              = useQuasar()
    const page            = usePage();
    const imageStorageUrl = page.props.imageStorageUrl;
    const leftDrawerOpen  = ref(false)

    function toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
    }
</script>
<style scoped>

</style>
