<template>
    <MainLayout>
        <q-page>
          <div class="q-pa-md">
            <q-option-group
                v-model="controlType"
                :options="controlTypeOptions"
                color="purple"
                inline
                class="q-mb-md"
            />

            <q-carousel
                v-model="slide"
                swipeable
                animated
                :control-type="controlType"
                control-color="purple"
                navigation
                padding
                arrows
                height="300px"
                class="text-purple rounded-borders"
            >
              <q-carousel-slide name="style" class="column no-wrap flex-center">
                <q-icon name="style" size="56px" />
                <div class="q-mt-md text-center">
                  {{ lorem }}
                </div>
              </q-carousel-slide>
              <q-carousel-slide name="tv" class="column no-wrap flex-center">
                <q-icon name="live_tv" size="56px" />
                <div class="q-mt-md text-center">
                  {{ lorem }}
                </div>
              </q-carousel-slide>
              <q-carousel-slide name="layers" class="column no-wrap flex-center">
                <q-icon name="layers" size="56px" />
                <div class="q-mt-md text-center">
                  {{ lorem }}
                </div>
              </q-carousel-slide>
              <q-carousel-slide name="map" class="column no-wrap flex-center">
                <q-icon name="terrain" size="56px" />
                <div class="q-mt-md text-center">
                  {{ lorem }}
                </div>
              </q-carousel-slide>
            </q-carousel>
          </div>
        </q-page>

    </MainLayout>
</template>

<script setup>
    import MainLayout from "./Layout/Main.vue";
    import { ref } from 'vue';

    const controlType =  ref('flat');

    const controlTypeOptions =  [
      { value: 'regular', label: 'regular' },
      { value: 'unelevated', label: 'unelevated' },
      { value: 'flat', label: 'flat (default)' },
      { value: 'outline', label: 'outline' },
      { value: 'push', label: 'push' }
    ];
    const lorem = 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptatem totam, architecto cupiditate officia rerum, error dignissimos praesentium libero ab nemo.'
    const slide = ref('style');

</script>

<style scoped>

</style>
